# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# Data
data/processed/*
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db
data/Additional Data Points Guide.xlsx
data/ethiopia_fi_unified_data.xlsx
data/reference_codes.xlsx
data/raw/reference_codes.xlsx
